<h2>Signin</h2>

<div class = "button face" align="center">
<form method="get" action="/auth/facebook">
    <button class="btn btn-primary btn-lg" type="submit">Signin with Facebook</button>
</form>
</div>


<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<form method="post" action="/signin">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default subm" type="submit">
</form>

<div class = "button" align="center">
<p>SIGN UP NOW</p>
<form method="get" action="/signup">
    <button type="submit">Signup</button>
</form>
</div>
